.head   {
		font-family : Arial,Helvetica; 
		font-size : 10pt;
		color: #000000;
		position:fixed;
		top: 0px;
		left: 0px;
		width:983px; 
		height:86px;
		background-color:#f7f2e7;
		z-index:10;
		border-bottom:2px solid #cccccc;
	   -moz-border-radius:0 0 2em 2em;
		background-image:url(img/head.png); background-repeat:no-repeat;
}



.head_info   {
		font-family : Arial,Helvetica; 
		font-size : 8pt;
		color: #000000;
		position:absolute;
		top: 60px;
		left: 8px;
		width:202px; 
		height:24px;
		background-color:#ffffff;
}

.logo {
		position:absolute;
		top: 3px;
		left: 10px;
		width:50px; 
		height:80px;
		background-image:url(../../img/tellmatic_logo.png); 
		background-repeat:no-repeat;
		z-index:2;
}
.tellmatic {
		position:absolute;
		top: 10px;
		left: 72px;
		width:243px; 
		height:73px;
		background-image:url(../../img/tellmatic.png); 
		background-repeat:no-repeat;
		z-index:2;
}

.sprechblase {
		font-family : Arial,Helvetica; 
		font-size : 8pt;
		position:absolute;
		top: 10px;
		left: 740px;
		width:190px; 
		height:100px; 
		color:#000000;
		z-index:2;
		-moz-opacity:0.9;
		background-image:url(../../img/sprechblase.png); background-repeat:no-repeat;
}
.sprechblase_text {
		font-family : Arial,Helvetica; 
		font-size : 8pt;
		padding:3px;
		position:absolute;
		top: 14px;
		left: 26px;
		width:100px; 
		height:50px; 
		color:#990000;
}
