.mForm {
  background-repeat:no-repeat;
  background-position:center; 
  padding:8px;
  font-family : Arial,Helvetica; 
  font-size : 10pt;
}

.mFormTable {
  font-family : Arial,Helvetica; 
  font-size : 10pt;
  /*border:1px solid #07499c;*/
	/*  width:98%;*/
}
.mFormTableHead {
  font-family : Arial,Helvetica; 
  font-size : 10pt;
  background-color:#fff4d3;

}
.mFormTableBody {
  font-family : Arial,Helvetica; 
  font-size : 10pt;
}


.mFormCheckbox {
  border:1px solid #ffffff;
  padding:1px;
  background-color:#dddddd;
  font-family : Arial,Helvetica; 
  color:#000000; 
  font-size : 9pt;
  width:20px;
}

.mFormCheckboxFocus {
  border:1px solid #990000;
  padding:1px;
  background-color:#ffffff;
  font-family : Arial,Helvetica; 
  color:#000000; 
  font-size : 9pt;
  width:20px;
}

.mFormText {
  border:1px solid #ffffff;
  padding:1px;
  background-color:#eeeeee;
  font-family : Arial,Helvetica; 
  color:#000000; 
  font-size : 10pt;
}
.mFormTextFocus {
  border:1px solid #990000;
  padding:1px;
  background-color:#ffffff;
  font-family : Arial,Helvetica; 
  color:#805b42; 
  font-size: 10pt;
}
.mFormTextFocus_wide {
  border:1px solid #990000;
  padding:1px;
  width:100%;
  background-color:#ffffff;
  font-family : Arial,Helvetica; 
  color:#805b42; 
  font-size: 10pt;
}

.mFormTextarea {
  border:1px solid #ffffff;
  padding:1px;
  background-color:#eeeeee;
  font-family : Arial,Helvetica; 
  color:#000000; 
  font-size: 10pt;
  height:200px;
  width:100%;
}
.mFormTextareaFocus {
  border:1px solid #990000;
  padding:1px;
  background-color:#ffffff;
  font-family: Arial,Helvetica; 
  color:#805b42; 
  font-size: 10pt;
  width:100%;
  height:200px;
}

.mFormTextarea_Content {
  border:1px solid #ffffff;
  padding:1px;
  background-color:#eeeeee;
  font-family : Arial,Helvetica; 
  color:#000000; 
  font-size: 10pt;
  height:200px;
  width:100%;
}
.mFormTextareaFocus_Content {
  border:1px solid #990000;
  padding:1px;
  background-color:#ffffff;
  font-family: Arial,Helvetica; 
  color:#805b42; 
  font-size: 10pt;
  width:100%;
  height:200px;
}

.mFormFieldLabel {
  padding:0px;
  font-family : Arial,Helvetica; 
  color:#006633; 
  font-size: 10pt;
}
.mFormFieldLabelDesc {
  padding:0px;
  font-family : Arial,Helvetica; 
  color:#006666; 
  font-size: 10pt;
}
.mFormSubmit {
  border:1px solid #cccccc;
  padding:1px;
  font-family : Arial,Helvetica; 
  font-size: 10pt;
  color:#ffffff;
  background-color:#660000;
  	-moz-border-radius:2em 2em 2em 2em ;
}

.mFormSubmitFocus {
  border:1px solid #660000;
  padding:1px;
  font-family : Arial,Helvetica; 
  font-size: 10pt;
  color:#660000;
  background-color:#cccccc;
  	-moz-border-radius:2em 2em 2em 2em ;
}
.mFormReset {
  border:1px solid #cccccc;
  padding:1px;;
  font-family: Arial,Helvetica; 
  font-size: 10pt;
  color:#ffffff;
  background-color:#660000;
  	-moz-border-radius:2em 2em 2em 2em ;
}

.mFormResetFocus {
  border:1px solid #660000;
  padding:1px;
  font-family : Arial,Helvetica; 
  font-size : 10pt;
  color:#660000;
  background-color:#cccccc;
  	-moz-border-radius:2em 2em 2em 2em ;
}
.mFormSelect{
  border:1px solid #ffffff;
  padding:1px;
  font-family : Arial,Helvetica; 
  color:#000099; 
  font-size : 9pt;
  background-color:#eeeeee;
}
.mFormSelectFocus{
  border:1px solid #990000;
  padding:1px;
  font-family : Arial,Helvetica; 
  color:#000033; 
  font-size : 9pt;
  background-color:#ffffff;
}
.mFormSelect2{
  border:1px solid #ffffff;
  padding:1px;
  font-family : Arial,Helvetica; 
  color:#000099; 
  font-size : 9pt;
  width:160px;
  background-color:#eeeeee;
}
.mFormSelect2Focus{
  border:1px solid #990000;
  padding:1px;
  font-family : Arial,Helvetica; 
  color:#000033; 
  font-size : 9pt;
  width:160px;
  background-color:#ffffff;
}
.mFormRadio{
  padding:0px;
  font-family : Arial,Helvetica; 
  color:#000099; 
  font-size : 9pt;
}
.mFormRadioFocus {
  padding:0px;
  font-family : Arial,Helvetica; 
  color:#fda711; 
  font-size : 9pt;
}
